@charset "utf-8";
/* CSS Document */
body {
	background: url(../images/CSGO.jpg);
	background-size: cover;
	font-family:"Proxima Nova", sans-serif;
	margin: 0;
	padding: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.flex_row {
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.flex_column {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.main {
		justify-content: center;
}
/* NAVIGATION */
.nav {
	background-color: #000000;
	justify-content: center;
	align-items: center;
	height: auto;
	padding: 20px 10px;
}
.nav_logo {
	margin-right: 253px;
}
.nav_logo p{
	color: #ffffff;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
.nav_logoFirst {
	font-size: 17px;
	font-weight: 600;
	line-height: 20px;
}
.nav_logoSecond {
	font-size: 12.5px;
	font-weight: 600;
	line-height: 11px;
}
.nav_nav {
	width: 508px;
}
.nav_list {
	width: 100%;
	justify-content: space-between;
}
.nav_item {
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
}
.nav_link {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.nav_link:hover, .nav_link:active {
	color:#d13f4a;
}
.nav_button {
	visibility: collapse;
	background-color: transparent;
	border: none;
}
.nav_button .fa {
	color: #ffffff;
}
/* HEADER */
.header {

}
.header_text {
	text-align: center;
	color: #ffffff;
	width: 607px;
	margin:154px auto 144px;
}
.header_textLine1 {
	height: 26px;
	background-color: #d13f4a;
	width: 147px;
	padding:0;
	margin:0 auto;
	font-size: 15px;
	font-weight: 700;
	line-height: 0px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
.header_textLine2 {
	background-color: #111111;
	font-size: 15px;
	line-height: 21px;
	height: 60px;
}
.header_textLine3 {
	background-color: #070706;
	width: 413px;
	height: 40px;
	margin: auto;
	font-size: 14px;
	font-weight: 600;
	line-height: 10px;
	letter-spacing: .6px;
}
/* SECTION */
.section {
	flex-basis: 50%;
	background-color: #ffffff;
}
.section_header {
	background-color: #f3f3f3;
	color: #999999;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
	margin: 10px;
	padding: 15px 24px;
	border-right: 3px solid #d13f4a;
}
.section_articleImage_wrapper {
	margin: 10px auto;
	width: 98%;
	background-color: #444;
	height: 229px;
}
.section_articleImage {
	width: 100%;
	height: 100%;
}
.section_articleImage1 {
	background:url(../images/img1.jpg) no-repeat;
	background-size: 100% 100%;
}
.section_articleImage2 {
	background:url(../images/img2.jpg) no-repeat;
	background-size: 100% 100%;
}
.section_articleImage3 {
	background:url(../images/img3.jpg) no-repeat;
	background-size: 100% 100%;
}
.section_articleImage4 {
	background:url(../images/img4.jpg) no-repeat;
	background-size: 100% 100%;
}
.section_articleHeader {
	color:#484848;
	font-size: 21px;
	font-weight: 600;
	line-height: 22px;
	margin: 0;
	letter-spacing: 2px;
	padding-left: 30px;
	border-left: 2px solid #d13f4a;
}
.section_articleText {
	color: #484848;
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	font-style: italic;
	letter-spacing: 2px;
	width: 100%;
	padding-left: 30px;
}
.section_articleBox {
	align-items: baseline;
	margin-top: 30px;
}
.section_articleContent {
	flex-basis: 550px;
	margin: 0 20px 0 26px;
	padding: 0 20px;
}
.section_articleRateBox {
	flex-basis: 80px;
	height: 111px;
	justify-content: space-between;
	padding-left: 8px;
	box-sizing: border-box;
	align-self: stretch;
}
.section_articleRate {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	width:76px;
	height: 16px;
	color: #ffffff;
	font-size: 9px;
	font-weight: 700;
	line-height: 18px;
	padding: 0 10px;
	box-sizing: border-box;
	text-transform: uppercase;
	align-items: baseline;
	justify-content: space-between;
}
.section_articleRate_error:last-child {
	height: 31px;
	line-height: 31px;
	justify-content: center;
}
.section_articleRate p {
	margin: 0;
}
.section_articleRate_error {
	background-color: #d13f4a;
}
.section_articleRate_facebook {
	background-color: #2f81c0;
}
.section_articleRate_user {
	background-color: #469134;
}
.section_articleRate_twitter {
	background-color: #24cedd;
}
.loader {
	background: url(../images/loading.png) no-repeat;
	height: 20px;
	width: 50px;
	margin: auto;
}
/* ASIDE */
.aside {
	flex-basis: 20%;
	background-color: #000000;
	justify-content: flex-start;
	align-items:stretch;
}
.aside_header {
	margin: 0;
	padding: 15px;
	background-color: #181818;
	border-right: 2px solid #d13f4a;
	text-transform: uppercase;
	color: #999999;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}
.aside_section {
	margin:0 10px;
}
.aside_sectionSponsors {
	margin-top: 10px;
	color: #ffffff;
	font-weight: 700;
	line-height: 18px;
}
.aside_sponsorsItem {
	text-align: right;
	margin: 0;
	padding: 10px 0;
	justify-content: space-between;
	align-items: center;
}
.aside_sponsorsItem:hover {
	background-color: #0c0c0c;
	cursor: pointer;
}
.aside_sponsorsLogoS {
	background: url(../images/sectionSponsors_sprite.png) no-repeat;
	background-position: -40px;
	width:20px;
	height: 21px;
}
.aside_sponsorsLogoA {
	background: url(../images/sectionSponsors_sprite.png) no-repeat;
	background-position: -20px;
	width:20px;
	height: 20px;
}
.aside_sponsorsLogoM {
	background: url(../images/sectionSponsors_sprite.png) no-repeat;
	width:20px;
	height: 20px;
}
.aside_videoWrapper {
	margin: 13px 0;
	background: url(../images/video.jpg) no-repeat;
	background-size: contain;
}
.aside_video {
	width: 100%;
	height: 100%;
}
.aside_divisionsItem {
	padding: 5px 0;
}
.aside_divisionsItem:hover {
	background-color: #0c0c0c;
	cursor: pointer;
}
.aside_divisionsItemFirst {
	color:#ffffff;
	font-size: 13px;
}
.aside_divisionsItemSecond {
	color:#d13f4a;
	font-size: 10px;
	font-weight: 700;
	line-height: 18px;
}
.aside_divisionsItem p {
	margin: 0;
	padding: 0;
	font-weight: 700;
	line-height: 18px;
	text-align: right;
}
.aside_divisionsImageCOD {
	background: url(../images/call_of_duty.jpg) no-repeat;
}
.aside_divisionsImageHALO {
	background: url(../images/halo.jpg) no-repeat;
}
.aside_divisionsImageSMITE {
	background: url(../images/smite.jpg) no-repeat;
}
.aside_divisionsImageLOL {
	background: url(../images/league.jpg) no-repeat;
}
.aside_divisionsImageCS {
	background: url(../images/counterstrike.jpg) no-repeat;
}
.aside_recommendImageAstro {
	background: url(../images/Astro_Ad.jpg) no-repeat;
}
.aside_recommendImageChrome {
	background: url(../images/Razer_Ad.jpg) no-repeat;
}
.aside_recommendImage {
	margin: 11px 0;
	height: 102px;
	background-size: 100% 100%;
}
.aside_galleryWrapper {
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.aside_galleryImage {
	padding: 6px 0;
	flex-basis: 30%;
}
.aside_streamsContent {
	text-transform: uppercase;
	margin-top: 5px;
}
.aside_streamsImageLOL {
	background: url(../images/stream1.jpg) no-repeat;
}
.aside_streamsImageCS {
	background: url(../images/stream2.jpg) no-repeat;
}
.aside_streamsImage {
	width:100%;
	height: 81px;
	background-size: 100%;
}
.aside_streamsText1 {
	color:#d13f4a;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
}
.aside_streamsText1, .aside_streamsText3 {
	font-size: 13px;
	font-weight: 700;
}
.aside_streamsText2 {
	font-size: 10px;
	font-weight: 400;
}
.aside_streamsText2, .aside_streamsText3 {
	color:#ffffff;
}
.aside_streamsText {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	align-items: baseline;
	padding: 0;
	flex-wrap: wrap;
}
.aside_twitterBox  {
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}
.aside_twitterText {
	color:#ffffff;
	font-size: 10px;
	font-weight: 300;
	line-height: 12px;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 5px;
	flex-basis: 80%;
}
.aside_twitterText p {
	margin: 0;
}
.aside_twitterText P:not(:first-child) {
	text-transform: uppercase;
}
.aside_twitterImage {
	background: url(../images/tweet.jpg) no-repeat;
	width:37px;
	height: 37px;
	background-size: 100% 100%;
	flex-basis: 37px;
}
/* SIZE */

@media all and (max-width:1199px) and (min-width:992px) {
	.nav_logo {
	margin-right: 100px;
}
	.section_articleImage_wrapper {
		height: 200px;
	}
	.aside_streamsText p{
		font-size: 9px;
	}
	.aside_streamsImage {
		background-size: auto auto;
	}
	.aside_galleryWrapper {
		justify-content: space-around;
	}
}
@media all and (max-width:991px) and (min-width:768px) {
	.section {
		flex-basis: 60%;
	}
	.aside {
		flex-basis: 30%;
	}
	.nav_logo {
	margin-right: 30px;
	width:40%;
}
	.section_articleImage_wrapper {
		height: 180px;
	}
	.aside_streamsText p{
		font-size: 9px;
	}
	.aside_streamsImage {
		background-size: auto auto;
	}
	.aside_galleryWrapper {
		justify-content: space-around;
	}
}
@media all and (max-width:767px) and (min-width:576px) {
	.main {
		flex-flow: row wrap;
	}
	.section {
		flex-basis: 90%;
	}
	.aside {
		flex-basis: 90%;
	}
	.nav {
		flex-wrap: wrap;
		justify-content: center;
	}
	.nav_logo {
		margin:0 0 20px 0;
}
	.header_text {
		width: 90%;
		margin: 80px 5%;
	}
	.header_textLine2 {
	line-height: 30px;
	height: auto;
}
	.section_articleImage_wrapper {
		height: 230px;
		align-content: space-between;
	}
	.aside_galleryImage {
		height: 70px;
	}
	.aside {
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	}
	.aside_section {
		flex-basis: 45%;
	}
	.aside_streamsText p{
		font-size: 9px;
	}
	.aside_streamsImage {
		background-size: 100% auto;
	}
	.aside_galleryWrapper {
		justify-content: space-around;
	}
}
@media all and (max-width:575px) {
	.main {
		flex-flow: row wrap;
	}
	.section {
		flex-basis: 90%;
	}
	.aside {
		flex-basis: 90%;
	}
	.nav {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.nav_logo {
	margin-right:0px;
}
	.nav_nav {
		width: 100%;
		padding: 20px 0 10px;
	}
	.nav_list {
		flex-flow:column wrap;
		justify-content: center;
		text-align: center;
	}
	.nav_button {
		visibility: visible;
	}
	.header_text {
		width: 90%;
		margin: 80px 5%;
	}
	.header_textLine2 {
	line-height: 30px;
	height: auto;
}
	.header_textLine3 {
		width: auto;
	}
	.section_articleImage_wrapper {
		height: 150px;
		width:90%;
	}
	.aside_streamsText p{
		font-size: 9px;
	}
	.aside_galleryWrapper {
		justify-content: space-between;
	}
	.aside_galleryImage {
		height: 50px;
		flex-basis: 15%;
	}
	.section_articleBox {
		flex-flow: column wrap;
		align-content: flex-end;
	}
	.section_articleRateBox {
		flex-flow: row wrap;
		align-items: center;
		flex-basis: 100%;
		margin: 0;
		padding: 10px;
		height: auto;
		order: 2;
	}
	.section_articleRate {
		margin-bottom: 5px;
	}
	.section_articleContent {
		flex-basis: 100%;
		padding: 0 10px;
		margin: 0 20px 0 0;
		order:1;
	}
}
@media all and (max-width:300px) {
	.nav_button {
		margin-top: 30px;
	}
}