@charset "utf-8";
/* CSS Document */
body {
	background: url(../images/CSGO.jpg);
	background-size: cover;
	font-family:"Proxima Nova", sans-serif;
}
/*NAVBAR*/
nav {
	background: #111111;
	color: white;
}
nav .row {
	width: 100%;
}
.navbar-nav {
	width: 100%;
}
.nav-item {
	margin: auto;
}
.nav-link {
	color: white;
	font-weight: bold;
	font-size: .9em;
}
.nav-link:hover {
	color:#d13f4a;
}
.navbar-brand p{
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 600;
}
.navbar-brand p:first-of-type {
	font-size: 1.1em;
}
.navbar-brand p:last-of-type {
	font-size: .8em;
}
.navbar-toggler-icon {
	background: url(../images/hamb.png) no-repeat;
	background-size: contain;
}
/*HEADER*/
.header_row_1, .header_row_2, .header_row_3 {
	display: inline-block;
}
#header_text {
	margin: 150px 0px 145px;
}
.header_row_1 {
	background-color: #d13f4a;
	font-size: .9em;
	padding: .2em 1em;
	font-weight: 500;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.header_row_2 {
	background-color: #111111;
	padding: .4em 1em;
	font-size: 1.8em;
	font-weight: 700;
}
.header_row_3 {
	background-color: #0a0908;
	font-size: .8em;
	padding: .8em 1em;
}
header p {
	padding: 0;
	margin: 0;
	color: white;
}
/*SECTION*/
section {
	background-color: white;
}
.caption_header {
	padding: 1em;
	margin: 1em 0;
	background-color: #f3f3f3;
	display: block;
	font-weight: 600;
	color: #999999;
	border-right: 3px solid #d13f4a;
	text-transform: uppercase;
}
.heading_image {
	width: 100%;
	margin: auto;
	background: black;
	text-align: center;
}
.figure-img {
	overflow: hidden;
}
.figure-img img {
	width: 100%;
}
section h3 {
	color:#484848;
	border-left:2px solid #d13f4a;
	font-size:1.2em;
	padding-left: 1em;
	letter-spacing: 3px;
	font-weight: 700;
}
section p {
	word-wrap: break-word;
}
.news_text {
	font-size: .9em;
	color: #484848;
	font-style: italic;
	letter-spacing: 2px;
}
.news_text p {
	padding:0 1.5em;
}
.rate {
	font-size: .7em;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
}
.date_news, .views_news, .tweets_news, .facebook_news, .read_more_news {
	display: inline-block;
	width: 80px;
	padding: .2em;
	margin-bottom: .5em;
	vertical-align:middle;
}
.date_news, .read_more_news {
	background-color: #d13f4a;
}
.views_news {
	background-color: #469134;
}
.tweets_news {
	background-color: #24cedd;
}
.facebook_news {
	background-color: #2f81c0;
}
.read_more_news {
	padding: .5em 0;
}
.rate img, .rate p {
	display: inline-block;
}
.rate img {
	padding-left: .3em;
}
.rate p {
	float: right;
	margin: 0;
	padding-right:.3em;
}
/*ASIDE*/
aside {
	background-color: black;
	width: 100%;
}
aside .row {
	-moz-flex-direction: column;
	flex-direction: column;
}
aside #gallery .row {
	flex-direction: row;
}
#sponsors, #latest_video, #divisions, #recommend, #gallery, #streams, #from_twitter {
	width: 100%;
	background-color: black;
}
aside .caption_header {
	background-color: #181818;
}
aside #sponsors .caption_header {
	margin: 1em 0;
}
aside #latest_video .caption_header {
	margin: 0 0 1em;
}
#divisions li, #sponsors li, #from_twitter li {
	list-style: none;
	display: block;
	overflow: hidden;
}
#divisions li {
	margin-bottom: .1em;
}
#divisions ul, #sponsors ul, #from_twitter ul {
	margin: 0;
	padding: 0;
}
#divisions p:not(:first-child) {
	display: inline-block;
	float: right;
	text-align: right;
	color: white;
	margin: 0;
	padding: 0;
	font-size: .9em;
	text-transform: uppercase;
	font-weight: 700;
}
#divisions .view_roster {
	color:#d13f4a;
	font-size: .8em;
}
#divisions li a, #sponsors li a {
	width: 100%;
	height: 100%;
	display: block;
}
#divisions li a:hover, #sponsors li a:hover {
background-color: #111111;
}
#latest_video img, #recommend img, #streams img {
	overflow: hidden;
	width: 100%;
	border: 1px solid #171717;
}
#video_view .modal-body {
	margin: auto;
}
#video_view .modal-body iframe {
	width: 560px;
	height: 315px;
	margin: auto;
}
#gallery .row {
	overflow: hidden;
}
#gallery img {
	margin-bottom: 4px;
}
#sponsors {
	margin: 0;
}
#sponsors p:not(:first-child){
	display: inline-block;
	float: right;
	text-align: right;
	color: white;
	margin: 0;
	padding: 0;
	font-size: .9em;
	text-transform: uppercase;
	font-weight: 700;
}
#sponsors li {
	padding: .2em 0;
	width: 100%;
}
#sponsors li:nth-child(2) {
	background-color: #0c0c0c;
}
.streams_caption p {
	text-transform: uppercase;
	font-size: .8em;
	margin: 0;
	display: inline-block;
}
.streams_caption p:first-child {
	color:#d13f4a;
	font-weight: 700;
	padding-right: 1em;
	float: left;
}
.streams_caption p:not(:first-child) {
	color: white;
}
.streams_caption p:nth-child(2) {
	font-size: .7em;
	float: left;
}
.streams_caption p:last-child {
	font-weight: 700;
	padding-left: .9em;
	float: right;
}
#from_twitter li {
	margin-bottom: .5em;
	display: inline-flex;
	align-items:center;
	flex-direction: row;
}
#from_twitter img {
	margin-right: 10px;
	width: auto;
}
#from_twitter p:not(:first-child) {
	display: inline;
	color: #9c9c9c;
	font-size: .6em;
	margin: 0;
	padding: 0;
	font-style: italic;
}
@media all and (max-width:1199px) and (min-width:992px) {
	#gallery img {
		width: 150%;
	}
	_:-o-prefocus, aside {
	margin: auto;
	}
	_:-o-prefocus, aside > .row{
	width: 400px;
	}
	_:-o-prefocus, section{
	margin:auto;
	}
}
@media all and (max-width:991px) and (min-width:768px) {
	.navbar-brand {
	margin-left: -30px;
}
	#gallery img {
		width: 150%;
	}
	_:-o-prefocus, section{
	width:100%;
	}
		_:-o-prefocus, #main{
	width:100%;
	}
	_:-o-prefocus, aside > .row{
	width:700px;
	margin: auto;
	}
}
@media all and (max-width:767px) and (min-width:576px) {
	#main > .row {
	flex-direction: column;
	}
	_:-o-prefocus, section{
	width:100%;
	}
	_:-o-prefocus, #main{
	width:100%;
	}
	_:-o-prefocus, aside > .row{
	width:100%;
	margin: auto;
	}
}
@media all and (max-width:575px) {
	#gallery img {
		width: 150%;
	}
		#main > .row {
	flex-direction: column;
}
}
 /* MOZILLA*/
@-moz-document url-prefix() {
	section, section .row .rate, aside {
		float:left;
	}
	#gallery .row {
		display: -moz-box;
		display: flex;
	}
}
/*Opera 12*/
@media all and (max-width:1600px) and (min-width:1200px) {
_:-o-prefocus, aside > .row{
width: 280px;
}
}